
<app-header
[navbarBrandRouterLink]="['/dashboard']"
[fixed]="true"
[navbarBrandFull]="{src: 'assets/img/brand/taf_logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
[navbarBrandMinimized]="{src: 'assets/img/brand/taf_logo.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
[sidebarToggler]="false"
[asideMenuToggler]="false"
[mobileSidebarToggler]="false"
[mobileAsideMenuToggler]="false">
</app-header>

<div class="app-body col-lg-6 col-md-12">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">

            

            <form>
              <h1 class="text-center jaune">Se connecter</h1>   
              <p class="text-center">En continuant, vous acceptez les termes et conditions d'utulisation de TAF.tn</p>
              <div class="container">
                <div class="row pad-btm-fb" >
                  <button class="btn btn-block btn-facebook" type="button">
                    <i class="fa fa-facebook"></i>
                    <span>Sign up with Facebook</span>
                  </button>
                </div>
                
                <div class="row">
                  <button type="button" class="btn btn-block btn-google-plus" style="margin-bottom: 4px">
                    <i class="fa fa-google-plus"></i>
                    <span>Google+</span>
                  </button>
                </div>
              </div>
              
              <h2 class="text-center">OU</h2>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="button" class="boutton btn btn-secondary btn-lg btn-block pad-btm-fb">Connexion</button>
                </div>
                
              </div>
              
              <div class="row">
                <div class="col-12 text-center">
                  <p>VOUS N'AVEZ PAS UN COMPTE SUR TAF.TN?</p>
                </div>
              </div>

              <div class="row">
                <div class="col-12 text-center">
                  <div class="col-12 ">
                    <a href="#"><h3>S'inscrire</h3></a>
                  </div>
                </div>
              </div>
            </form>
             
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

