.pad-btm-fb{
    padding-bottom: 1%;
}

.boutton{
    background-color: rgb(254,209,54);
    color: rgb(46, 44, 44);
    margin-bottom: 5%;
}

.jaune {
    color: rgb(254,209,54);
}

.navbar {
    background-color: rgb(0,171,239);
    
}

.nav-text{
    color: white;
    padding-right: 3%;
    padding-left: 3%;
}

.inscrire {
    color: rgb(0,171,239);
}

.google {
    margin-bottom: 5%;
}